<div class="card">
  <div class="card-header"><h1>Edit Pin</h1></div>
  <div class="card-body">

    <% content_for :title, "Editing pin" %>
    <%= render "form", pin: @pin %>
    <br>

  <div class="card-footer text-body-secondary">
    <%= link_to "Show this pin", @pin %> |
    <%= link_to "Back to pins", pins_path %>
  </div>
</div>
