<div class="card">
  <div class="card-header"><h1>Pins</h1></div>
  <div class="card-body">

    <% content_for :title, "Pins" %>

    <div id="pins">
      <% @pins.each do |pin| %>
        <p>
          <%= render pin %>
          <%= link_to "Show this pin", pin %>
        </p>
      <% end %>
    </div>
</div>

<div class="card-footer text-body-secondary">
<%= link_to "New pin", new_pin_path %>
</div>
