<div class="card">
  <div class="card-header"><h1>New pin</h1></div>
  <div class="card-body">

    <% content_for :title, "New pin" %>
    <%= render "form", pin: @pin %>

    <br>
  </div>

  <div class="card-footer text-body-secondary"><%= link_to "Back to pins", pins_path %></div>

</div>
