<div class="container mt-3 center">
  <div class="mt-4 p-5 bg-secondary-subtle rounded">
    <h1>Welcome to my Pinterested App</h1>
    <p>Find me in app/views/home/index.html.erb</p>
    <%= link_to "Login", root_path, class:"btn btn-secondary" %>
    <%= link_to "Join", root_path, class:"btn btn-primary" %>
  </div>
</div>
